<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <a href="/"><h1>Rijksmuseum</h1></a>
      <form method="get" action="/search" data-search-form>
        <input
          type="search"
          name="q"
          placeholder="Zoek kunstwerken"
          data-search-input
        />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>
    <section id="items">
      <p><%-error%></p>
    </section>
  </body>
</html>
