<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <a href="/"><h1>Rijksmuseum</h1></a>
      <%- include('./components/search.ejs') -%>
    </header>
    <section id="items">
      <p><%-error%></p>
    </section>
  </body>
</html>
