<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <h1>Rijksmuseum</h1>
      <form>
        <input type="text" placeholder="Zoek een naam...." id="searchInput" />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>
    <section id="items">
      <p>Nog niks geladen</p>

      <% data.forEach(function(item) { %>

      <article>
        <h2><%- item.title %></h2>
        <h3><%- item.principalOrFirstMaker %></h3>
        <img src= <%- item.webImage.url.slice(0, -3) + "=s1000" %>>
      </article>

      <% }) %>
    </section>
  </body>
</html>
