<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <a href="/"><h1>Rijksmuseum</h1></a>
    </header>
    <section>
      <h2>Offline</h2>
      <p>Probeer het later opnieuw</p>
    </section>
  </body>
</html>
