* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f474f;
}

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #c2ccce;
}

article {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

img {
  max-width: 100%;
  padding-top: 0.2em;
}

h1,
h2,
h3 {
  color: #c2ccce;
}

input {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 60%;
  padding: 0.5em;
  background-color: #c2ccce;
  border-radius: 1em;
}

button {
  background-color: transparent;
  color: white;
  padding: 0.5em;
}

a {
  text-decoration: none;
}
